body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.dinaKostnader{
    border-style: solid;
    border-color: black;
    background-color: #0075ff;
    padding-left: 20px;
    padding-bottom: 20px;
    width: 500px;
    color: white;
}

